<div class="container">
    <div class="emp_details">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{employeeDetails?.player_name}}</mat-card-title>
                <mat-card-subtitle>{{employeeDetails?.department}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <br>
    <div class="course_container">
        <mat-card>
            <mat-spinner *ngIf="spinner">

            </mat-spinner>
            <form class="form-inline" *ngIf="!spinner"
                [formGroup]="assignCourseForm" (ngSubmit)="addCourse()" style="flex-direction: column;align-items: flex-start;padding: 0.8rem;
            ">
                <div>
                <label class="my-1 mr-2 label_course" style="justify-content: left;">Employee
                    Id</label>
                    <input class="form-control" [(ngModel)]="employeeDetails.employeeId" formControlName="emp_id" type="text"
                    placeholder={{employeeDetails?.employeeId}} readonly>
                </div>
                <div>
                <label class="my-1 mr-2 label_course" for="select_course" style="justify-content: left;">Select
                    Course</label>
                <select class="custom-select my-1 mr-sm-2" id="select_course"
                    (change)="loadSubMenu($event.target.value)"
                    formControlName="c_id">
                    <option selected value>Assign Course...</option>
                    <option *ngFor="let c of course" value={{c.c_id}}>
                        {{c.c_name}}
                    </option>
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary my-1">Submit</button>&nbsp;
                <button type="button" (click)="goBack()" class="btn btn-outline-secondary">Go Back</button>
            </div>
            </form>
        </mat-card>
    </div>
</div>
