/* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  :host{
    margin-top: 83px;
  } */
  .main{
    display: flex;
    height: 100%;
  }
  .right{
    height: 100%;
    width: 50%;
  }
  .left{
    height: 100%;
    width: 50%;
    padding-top: 20px;
  }
  

  .round_image{
    height: 100%;
    position:absolute;
    z-index: 1;
  }
  .login_child {
    position: absolute;
    top: 0;
    left: 9vw;
    background: linear-gradient(270deg, #ed891a, #fdce54);
    width: 91vw;
    height: 20px;
  }
  .person_image{
    position: absolute;
    z-index: 2;
    height: 100%;
    left: 14px;
  }
  .left_img_text{
    display: flex;
    justify-content: center;
  
  }
  .torrent_logo{
  height: 63px;
  }
  .welcome-torrent{
    font-size: 32px;
    color: var(--color-dimgray);
    font-family: var(--font-ravie);
  }
  .t{
    color: var(--color-darkorange);
  }
  .login_text{
    text-transform: uppercase;
    color: var(--color-darkorange);
    font-size: 25px;
    font-family: var(--font-roboto);
    padding: 10px;  
    font-weight: 500; 
  }
  .login_form{
    padding: 0 10px 10px 10px;
    font-family: var(--font-roboto);
    color: var(--color-dimgray);
  }
  .login_form_mobile{
    padding: 0 10px 10px 10px;
    font-family: var(--font-roboto);
    color: var(--color-dimgray);
    width:100% ;
  }
  .employee_id{
    padding: 6px 0;
  }
  
  .enter_id_sign_up{
    font-weight: 500;
    font-size: 19px;
  }
  .input_tag{
    border: none;
    border-bottom: 2px solid var(--color-dimgray) ;
    min-width: 50%;
    color: var(--color-dimgray);
    font-size: 15px;
    outline: none;
    padding: 1px;
  }
  .input_id{
    padding: 7px 0;
  }
  .checkbox_forgot{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .checkbox_remember{
    margin-right: 145px;
  }
  a{
    text-decoration: none;
    
    color: var(--color-dimgray); 
  }
  .login_button{
    padding: 2px 0;
  }
  .login_button_text{
    background: linear-gradient(90.4deg, #fdce54, #ed891a);
    border-radius: 60px;
    width: 500px;
    height: 40px; 
    border: none; 
    cursor: pointer;
      color: var(--color-white);
      font-weight: 500;
      font-size: 20px;
  }
  .sign_up_text{
  text-align: center;
  }
  .sign_up_text>span>a{
    cursor: pointer;
      color: var(--color-darkorange);
  }
  .example-form{
    margin: 4px;
  }
  .rotate_image{
    width: 100vw;
    height: 22vh;
}
  
  .mob_image{
    min-height: 210px;
  }
  .person_image_mobile{
    position: absolute;
    z-index: 2; 
    object-fit: cover;
    width: 188px;
    height: 222px;
    top: 0;
    left: calc(100vw - 50vw);
  }
  .logo_image_mobile{
    object-fit: cover;
    width: 144px;
    height: 47px;
    position: absolute;
    top: 111px;
    left: calc(50% - 176px);
  }
  .welcome_torrent_mobile{
    font-size: 24px;
    color: var(--color-dimgray);
    font-family: var(--font-ravie);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

  }
  .second_block_mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .login_button_text_mobile{
    background: linear-gradient(90.4deg, #fdce54, #ed891a);
    border-radius: 60px;
    width: 100%;
    height: 40px; 
    border: none; 
    cursor: pointer;
      color: var(--color-white);
      font-weight: 500;
      font-size: 20px;
  }
  .validation_text{
    font-size: 10px;
    color: red;
  }
  @media only screen and (max-width: 600px) {
    .main{
      flex-direction: column;
    }
    .right{
      width: 100%;
    }
    .left{
      width: 100%;
    }
    .round_image{
    }
  }
  @media only screen and (min-width: 1000px) {
    .main_mobile{
      display: none;
    }
  }
  @media only screen and (max-width: 1000px) {
    .main{
      display: none;
    }
    .main_mobile{
      display: block;
    }
  }
  .required{
    color: red;
    font-weight: 300;
    font-size: 21px;
  }